/* setup */
/* AKA remove default browser css */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: #0a0a0c;
}

h1{
    font-family: 'Russo One', sans-serif;
}

h2, h3, h4, ul, li, a{
    font-family: 'Source Sans Pro Black', sans-serif;
}

h1, h2, h3, h4, ul, p, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: lighter;
    color: #ffffff;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* ---------- STYLE ---------- */

#menu{
    z-index: 1000;
    position: fixed;
    background: black;
    width: 100%;
    height: 50px;
}
#menu ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
#menu ul li{
    width: 20%;
    text-align: center;
}
#menu ul li a{
    padding: 15px 20px;
    background: #222222;
}
#menu ul li a:hover{
    background: #3c3c3c;
    font-weight: bold;
}

header{
    height: 100vh;
    background-image: url("../img/12yuoy7p8sr21.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .8;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.title{
    width: 20%;
    padding: 50px;
    background: rgba(34,34,34,.4);
    text-align: center;
    font-weight: bold;
    border-radius: 10%;
}
#Home span{
    font-size: 75px;
    background: rgba(0,0,0,.5);
    border-radius: 10%;
    position: absolute;
    bottom: 30px;
    color: white;
}
#About, #Contact{
    height: 100vh;
}