/* setup */
/* AKA remove default browser css */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    font-size: 16px;
    font-family: Ubuntu, sans-serif;
    margin: 0;
    background: #0a0a0c;
}

h1{
    font-family: Ubuntu, sans-serif;
}

h2, h3, h4, ul, li, a{
    font-family: Ubuntu, sans-serif;
}

h1, h2, h3, h4, ul, p, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: normal;
    color: #ffffff;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* ---------- STYLE ---------- */

#menu{
    z-index: 1000;
    position: fixed;
    background: black;
    width: 100%;
    height: 50px;
}
#menu ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}
#menu ul li{
    width: 20%;
    text-align: center;
}
#menu ul li a{
    padding: 15px 20px;
    background: #222222;
}
#menu ul li a:hover{
    background: #3c3c3c;
    font-weight: bold;
}

header{
    height: 100vh;
    background-image: url("../img/12yuoy7p8sr21.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .8;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.title{
    width: 20%;
    padding: 50px;
    background: rgba(34,34,34,.4);
    text-align: center;
    font-weight: bold;
    border-radius: 10%;
}
#Home span{
    font-size: 75px;
    background: rgba(0,0,0,.5);
    border-radius: 10%;
    position: absolute;
    bottom: 30px;
    color: white;
}
#About, #Contact{
    height: 90vh;
    border-bottom: solid 2px white;
    text-align: center;
    padding: 1px;

}
#About{
    background-image: url("../img/16542.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: .8;

}
.container{
    height: 60vh;
    width: 80%;
    background: rgba(0,0,0,.3);
    margin: 10vh auto 0;
    border-radius: 30px;
    border: solid 2px #0a0a0c;
}
.content{
    margin: 50px;
    height: calc(100% - 100px);
}
#About p{
    margin: 30px auto;
}

#About h2, #Contact h2{
    margin: 10vh auto 0;
    font-size: 35px;
    font-weight: bolder;
    padding: 20px;
    border-radius: 5px;
    background: rgba(0,0,0,.4);
    width: 300px;
}

#Contact{
    background-image: url("../img/overwatch___genji_wallpaper_by_mikoyanx-d9ggubp.png");
    background-size: cover;
    background-position: center;
    opacity: .8;
}

#form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    height: 500px;
    margin: 50px auto;
    color: white;
    background: rgba(0,0,0,.6);
    border-radius: 50px;
    border: solid 2px black;
}

textarea{
    width: 60%;
    height: 100px;
}
footer{
    height: 30vh;
}
footer p{
    padding-top: 100px;
    text-align: center;
}
footer h2{
    margin-top: 30px;
    text-align: center;
}